<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>All Completed CRO's</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
 
    </head>
    <body>
        <table>
            <tr>
                {% for heading in ColumnNames%}
                    <th class="table_cell"> {{heading}}</th> <!--add padding for table_cell class-->
                    {%endfor%}
            </tr>
            {% for row in ColumnData%}
                <tr>
                    {% for rowdata in row%}
                        <td class="table_cell">rowdata</td> 
                    {%endfor%}
                </tr>
            {%endfor%}
        </table>    
    </body>
</html>