{% extends "layout.html" %}

<!--here we will add iframes-->
{% block content %}
    <br>
    <div class="parts_container">
        <h1 class="HomePageH1">Technician Performance Dashboard</h1>
        <h2 class="HomePageH2">Job Insights Summary</h2>
        <div class="part1" >
            {{TotalJobsCreated}}<br>
            TOTAL JOBS CREATED
        </div>
        <div class="part2">
            {{JobsUpcoming}}<br>
            JOBS UPCOMING
        </div>
        <div class="part3">
            {{TotalJobsCompleted}}<br>
            TOTAL JOBS COMPLETED
        </div>
        <div class="part4">
            {{Rank}}<br>
            TECHNICIAN RANK
        </div>
        <br>
    </div>
    <br>
    <div class="frame_container">
            <div class="parts">
                <iframe src="{{ url_for('weeklyProfit') }}" frameborder="0"  width="450" height="250"></iframe> <!--change to weeklyprofit, MKAE IFRAMES UNSCRROLLABLE-->
            </div> 
            <div class="parts">   
                <iframe src="{{url_for('ToDoList')}}" frameborder="0" scrolling="no" width="150"></iframe><!--THIS WILL DISPLAYED A LIST OF NUMBER OF CUSTOMER REPAIR ORDERS UPCOMING-->
            </div>  
    </div>
    <br>
    <div class="frame_container">
            <div class="parts">
                <iframe src="{{ url_for('monthlyProfit') }}" frameborder="0"></iframe>
            </div>
            <div class="parts">
                <iframe src="{{ url_for('UserProfile') }}" frameborder="0"></iframe>
            </div>
    </div>
    <br>
    <div class="frame_container">
            <div class="parts">
                <iframe src="{{ url_for('JobPieChart') }}" frameborder="0"  ></iframe>
            </div>

            <div class="parts">
                <iframe src="{{ url_for('PercentageJobsCompleted') }}" frameborder="0"></iframe>
            </div>    
    </div>


{% endblock %}

{% block scripts %}
    <script>
        const dropdownOptions = document.querySelectorAll('.dropdown-options');
        // Add click event listener
        dropdownOptions.forEach(option => {
            option.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent default anchor behavior

                const url = this.href; // Get the href of the link
                const width = 800; // Slightly less than half the screen width
                const height = 600; // Reduced height
                const left = (window.innerWidth - width) / 2; // Center horizontally
                const top = (window.innerHeight - height) / 2; // Center vertically

                    // Open a new window with specified dimensions
                window.open(url, '_blank', `width=${width},height=${height},left=${left},top=${top}`);
        });
    });          
    </script>

    <script>
        const javascript_msg ={{msg | tojson }};
        if(javascript_msg){
            alert("YOU HAVE REPAIR ORDERS NEARING REQUIRED COMPLETION TIME")           
        }
    </script>
{% endblock %}