<!DOCTYPE html>
<html >
    <head>
        <title>Repair Order flask system</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}" />

    </head>
        <body class="login_body">
        <div class="login_form_div" >
            
            <form action="{{url_for('login')}}" method="POST" class="login_form" name="loginForm">
                {{ form.hidden_tag() }} 
                <h1 class="login-H1">Log in</h1>
                <div class="form-group">
                    <label>username:</label><br>
                    <input class="login-input" type="text" name="usernumber" id="usernumber" required >
                </div><br>
                <div class="form-group">
                    <label>user password:</label><br>
                    <input class="login-input" type="password" name="userpassword" id="userpassword" required>
                </div><br>
                <span>
                    <input type="submit" value="Login" class="login_btn" onclick="validate(event)"><br>
                </span>

                <span class="error-msg" id="error-msg">
                    {% if msg %}
                    <p>{{ msg }}</p>
                    {% endif %}
                </span>
            </form>
        </div>

        <script>
            function validate(event){
                const name= document.forms["loginForm"]["usernumber"].value;
                const password=document.forms["loginForm"]["userpassword"].value;
                //remove leading and tail spaces
                let errorMsg= document.getElementById("error-msg");
                
                if ( (name ==="") || !/^[0-9]{1,10}$/.test(name) ){
                    errorMsg.innerHTML="Error, invalid username";
                    event.preventDefault();
                    return;
                }
                if ( (password ==="") ||  !/^[A-Za-z0-9]{1,9}$/.test(password)){
                    errorMsg.innerHTML="Error, invalid password";
                    event.preventDefault();
                    return;
                }
                return;
            }
        </script>
        </body>
</html>
