<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Price Page</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Site.css')}}">
    </head>
    
    <body>
        
        <table>
            <tr>
                <th>Repair Number</th>
                <th>Repair Type</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>01</td>
                <td>Base Troubleshooting</td>
                <td>R50,00</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Hardware Installation</td>
                <td>R50,00</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Data Recovery</td>
                <td>R100,00</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Operating System repair</td>
                <td>R150,00</td>
            </tr>
            <tr>
                <td>05</td>
                <td>Printer Setup</td>
                <td>R50,00</td>
            </tr>
            <tr>
                <td>06</td>
                <td>Virus Removal</td>
                <td>R100,00</td>
            </tr>
            <tr>
                <td>07</td>
                <td> Software Installation</td>
                <td>R50,00</td>
            </tr>
        </table>
    </body>
</html>